<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>defaultLocal</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>Theme - Mobility</Mapping-Name><Location>C:\ColdFusionBuilder3\ColdFusion\cfusion\wwwroot\Theme - Mobility</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings><DictionaryVersion>ColdFusion11</DictionaryVersion><CFCMappings></CFCMappings></ResourceDetails>